Repository DanielMascarenhas/Projeto-Aplicado-Web, pull requests merged in 2025-05, with the labels that each got.

#152 Tela materiais
  frontend/src/App.jsx
  frontend/src/components/Input.jsx
  frontend/src/components/ui/NewMaterialModal.jsx
  frontend/src/pages/Materials.jsx
Labels: front-end

#169 Integrando dashboard com o back
  frontend/src/pages/Dashboard.jsx
Labels: front-end

#171 Doc_Tela_Criacao_Materiais
  docs/Documentação Tela de Materiais - PA.docx.pdf
Labels: front-end

#174 Corrige o método registrarEntrada e fromEntity
  backend/src/main/java/br/com/recycle/backend/dto/EntradaResponseDTO.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
Labels: back-end

#182 Features/entrada request dto
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/dto/EntradaRequestDTO.java
  backend/src/main/java/br/com/recycle/backend/dto/MaterialRequestDTO.java
Labels: enhancement, back-end

#183 Criar README explicativo e atualizar documentação Swagger
  README.md
  backend/src/main/java/br/com/recycle/backend/controller/AuthController.java
  backend/src/main/java/br/com/recycle/backend/controller/EstoqueController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
Labels: documentation, back-end

#189 Feature: tela de estoque
  frontend/src/App.jsx
  frontend/src/components/RootLayout.jsx
  frontend/src/components/ui/EditMaterial.jsx
  frontend/src/components/ui/Navbar.jsx
  frontend/src/components/ui/NewMaterialModal.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/Materials.jsx
  frontend/src/pages/Stock.jsx
Labels: front-end

#194 Integrar entrada material
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/SaidaMaterial.jsx
  frontend/src/pages/Stock.jsx
Labels: front-end

#197 feat: adiciona verificacao inputs entrada e saida
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/SaidaMaterial.jsx
Labels: front-end

#210 fix: permitir valores decimais nos inputs
  frontend/src/pages/EntradaMaterial.jsx
  frontend/src/pages/SaidaMaterial.jsx
Labels: front-end

#214 feat: Implementação do AuthenticationPrincipal, melhoria em anotações…
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Labels: enhancement, back-end
