Repository DanielMascarenhas/Projeto-Aplicado-Web, pull requests merged in 2025-04, with the labels that each got.

#103 implementa DTOs para saída de estoque
  backend/src/main/java/br/com/recycle/backend/dto/SaidaRequestDTO.java
  backend/src/main/java/br/com/recycle/backend/dto/SaidaResponseDTO.java
Labels: back-end

#105 Implementação de EntradaService
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
Labels: back-end

#108 Adiciona Navbar
  docs/Documentação Tela de Login - PA.docx.pdf
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/components/ui/Navbar.jsx
  frontend/src/pages/Root.jsx
Labels: front-end

#110 adiciona redirecionamento de tela e melhora estilo
  frontend/src/components/RootLayout.jsx
  frontend/src/components/ui/Navbar.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/LandPage.jsx
  frontend/src/pages/LandPage.tsx
  frontend/src/pages/Login.jsx
  frontend/src/pages/Root.jsx
  frontend/src/pages/Signup.jsx
  frontend/src/store/AuthContext.jsx
Labels: front-end

#119 Entrada material
  frontend/src/App.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/EntradaMaterial.jsx
Labels: front-end

#120 documentacaoteladashboard
  docs/Documentação Tela de Dashboard_Entrada- PA.docx.pdf
Labels: documentation, front-end

#124 Correções e adequação de código.
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
Labels: enhancement, back-end

#125 Features/material controller
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/service/MaterialService.java
Labels: enhancement, back-end

#128 Correções na parte de (SaidaController/EstoqueResponseDTO/SaidaService)
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
  backend/src/main/java/br/com/recycle/backend/dto/EstoqueResponseDTO.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
  backend/src/main/java/br/com/recycle/backend/service/SaidaService.java
Labels: back-end

#131 Mudanças na Estilicação da Navbar e Tela Dashboard
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/components/ui/Navbar.jsx
  frontend/src/pages/Dashboard.jsx
Labels: front-end

#135 Adiciona Rotas Privadas e Públicas
  frontend/index.html
  frontend/src/App.jsx
  frontend/src/components/routes/PrivateRoute.jsx
  frontend/src/components/routes/PublicRoute.jsx
  frontend/src/components/ui/LoaderDialog.jsx
  frontend/src/pages/Dashboard.jsx
  frontend/src/pages/Login.jsx
Labels: front-end

#142 Documentação sobre a Estrutura de Rotas Privas e Publicas
  docs/Documentação sobre a Estrutura de Rotas no Sistema- PA.docx.pdf
Labels: front-end

#148 Feature/entrada estoque
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/service/EntradaService.java
Labels: back-end

#150 Features/AtualizacaoSwagger
  backend/src/main/java/br/com/recycle/backend/controller/DashboardController.java
  backend/src/main/java/br/com/recycle/backend/controller/EntradaController.java
  backend/src/main/java/br/com/recycle/backend/controller/MaterialController.java
  backend/src/main/java/br/com/recycle/backend/controller/SaidaController.java
Labels: documentation, back-end
